body {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
}

.rc {
  &-resizable {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    padding: 5px;
    border: 1px dashed pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-handle {
      display: inline-block;
      background-color: plum;
      width: 8px;
      height: 8px;
      position: absolute;

      &.is-se {
        bottom: 5px;
        right: 5px;
        cursor: se-resize;
      }
    }
  }
}

.flex-auto {
  flex: auto;
}
