// ----------- Theme Color ------------
$primary:               #4186fa !default;

// Text
$text-black:        $black !default;
$text-white:        $white !default;
$text-gray-dark:    $gray-900 !default;
$text-gray-light:   $gray-400 !default;
$text-gray:         $gray-600 !default;

// ----------- Info Color -------------
$danger:                  $red-400 !default;

$border-gray:             $gray-200 !default;
$border-white:            $white !default;
