// ----------- Theme Color ------------
$primary:               #F2302F !default;
$primary-100:           #FFF2F2 !default;

// ----------- Info Color -------------
$danger:                  $red-400 !default;

$border-gray:             $gray-200 !default;
$border-white:            $white !default;