.flex {
  display: flex;

  // Direction
  &-row { flex-direction: row !important; }
  &-row-reverse { flex-direction: row-reverse !important; }
  &-column { flex-direction: column !important; }
  &-column-reverse { flex-direction: column-reverse !important; }

  // Wrap
  &-wrap { flex-wrap: wrap !important; }
  &-nowrap { flex-wrap: nowrap !important; }
  
  // Justify
  &-justify-start { justify-content: flex-start !important; }
  &-justify-end { justify-content: flex-end !important; }
  &-justify-center { justify-content: center !important; }
  &-justify-between { justify-content: space-between !important; }
  &-justify-around { justify-content: space-around !important; }

  // Align
  &-align-start { align-items: flex-start !important; }
  &-align-bottom { align-items: flex-end !important; }
  &-align-center { align-items: center !important; }
  &-align-baseline { align-items: baseline !important; }
  &-align-stretch { align-items: stretch !important; }

  // Content Align
  &-content-start { align-content: flex-start !important; }
  &-content-bottom { align-content: flex-end !important; }
  &-content-center { align-content: center !important; }
  &-content-baseline { align-content: baseline !important; }
  &-content-stretch { align-content: stretch !important; }

  // Align self
  &-self-start { align-self: flex-start !important; }
  &-self-bottom { align-self: flex-end !important; }
  &-self-center { align-self: center !important; }
  &-self-baseline { align-self: baseline !important; }
  &-self-stretch { align-self: stretch !important; }
  
  // Direction
  &-auto { flex: auto !important }
  &-1 { flex: 1 !important }
  &-shrink-0 { flex-shrink: 0 !important; }
  &-grow-0 { flex-grow: 0 !important; }

  &-order-1 { order: 1 !important; }
  &-order-2 { order: 2 !important; }
  &-order-none { order: inherit !important; }
}