// Responsive padding utilities
//
@each $breakpoint, $variant in $responsive-variants {
  @each $scale, $size in $spacer-map {
    .m#{$variant}-#{$scale} { margin: $size !important };
    // Top
    .mt#{$variant}-#{$scale} { margin-top: $size !important };
    // Right
    .mr#{$variant}-#{$scale} { margin-right: $size !important };
    // Bottom
    .mb#{$variant}-#{$scale} { margin-bottom: $size !important };
    // Left
    .ml#{$variant}-#{$scale} { margin-left: $size !important };

    // Set a $size margin to the left and right 
    .mx#{$variant}-#{$scale} {
      margin-left: $size !important;
      margin-right: $size !important;
    }

    // Set a $size margin to the top and bottom 
    .my#{$variant}-#{$scale} {
      margin-top: $size !important;
      margin-bottom: $size !important;
    }

    .mx#{$variant}-auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}