.container {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.container-large {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

@each $breakpoint in map-keys($breakpoints) {
  .container-#{$breakpoint} {
    width: map-get($breakpoints, $breakpoint);
    margin-right: auto;
    margin-left: auto;
  }
}